h3
  p Usage
    span.small  (App v.#{app_version}
    span.small  / Spine v.#{spine_version})
    
ul.liststyle
  li Photos within albums and albums within galleries are draggable and sortable
  li Drag and drop photos from the desktop to your browser
  li Interact between sidebar and main window
  li Navigate through objects using arrow keys
  li Select multiple objects using both ctrl-key and arrow key(s)
  li.warning Start slideshows for one or more selected albums by hitting the spacebar

p Time to get busy with this magic!