p
  div
    h2 Your Slideshow could not be started
  div
    p
      case noGallery
        when true
          case noAlbumsView
            when true
              div Select Albums from your #[a.opt-ShowAllAlbums.btnClose.anim-link Album Library], or
              div Select a Gallery
            default
              case selectedAlbums
                when 0
                  div Select Albums or activate a Gallery
        default
          case albumsCount
            when 0
              div There are no Albums for your Slideshow
              div #[a.opt-CreateAlbum.btnClose.anim-link Create Album]
            when 1
              case activeAlbumsCount
                when 0
                  div Your Album needs to be activated
                default
                  case photosCount
                    when 0
                      div #[a.opt-AddPhotos.btnClose.anim-link Add] Photos to your Album
            default
              case activeAlbumsCount
                when 0
                  div None of your #{count} Albums is active
                when 1
                  div No Photos in your active Album
                default
                  div No Photos in your active Albums
              case photosCount
                when 0
                  div Add Photos to an Album
